<a href="https://colab.research.google.com/github/vf-fontes/intro-cd/blob/master/20200930_Olist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
!pip install gitly

Requirement already satisfied: gitly in /usr/local/lib/python3.6/dist-packages (1.1.1)
Requirement already satisfied: kaleido in /usr/local/lib/python3.6/dist-packages (from gitly) (0.0.3.post1)
Requirement already satisfied: plotly>=4.9.0 in /usr/local/lib/python3.6/dist-packages (from gitly) (4.10.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly>=4.9.0->gitly) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly>=4.9.0->gitly) (1.15.0)

In [63]:
from gitly.colab.plot import GitlyPlotter

gitly = GitlyPlotter(renderer='colab') #renderer='github' permite que os gráficos dinâmicos fiquem estaticos para aparecerem no notebook  do github

# Importação de Bibliotecas

In [64]:
import pandas as pd

# Importação dos datasets

In [65]:
df_clientes = pd.read_csv('/content/drive/My Drive/MBA/MÓDULO - FUNDAMENTOS/TIAGO/Datasets/olist_customers_dataset.csv')
df_geo = pd.read_csv('//content/drive/My Drive/MBA/MÓDULO - FUNDAMENTOS/TIAGO/Datasets/olist_geolocation_dataset.csv', encoding='utf8')
df_compra_itens = pd.read_csv('/content/drive/My Drive/MBA/MÓDULO - FUNDAMENTOS/TIAGO/Datasets/olist_order_items_dataset.csv')
df_compra_pagamentos = pd.read_csv('/content/drive/My Drive/MBA/MÓDULO - FUNDAMENTOS/TIAGO/Datasets/olist_order_payments_dataset.csv')
df_reviews = pd.read_csv('/content/drive/My Drive/MBA/MÓDULO - FUNDAMENTOS/TIAGO/Datasets/olist_order_reviews_dataset.csv')
df_compras = pd.read_csv('/content/drive/My Drive/MBA/MÓDULO - FUNDAMENTOS/TIAGO/Datasets/olist_orders_dataset.csv')
df_produtos = pd.read_csv('/content/drive/My Drive/MBA/MÓDULO - FUNDAMENTOS/TIAGO/Datasets/olist_products_dataset.csv')
df_vendedores = pd.read_csv('/content/drive/My Drive/MBA/MÓDULO - FUNDAMENTOS/TIAGO/Datasets/olist_sellers_dataset.csv')

In [66]:
df_clientes.head(3)

                        customer_id  ... customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7  ...             SP
1  18955e83d337fd6b2def6b18a428ac77  ...             SP
2  4e7b3e00288586ebd08712fdd0374a03  ...             SP

[3 rows x 5 columns]

In [67]:
df_compra_itens.head(3)

                           order_id  order_item_id  ...  price freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...   58.9         13.29
1  00018f77f2f0320c557190d7a144bdd3              1  ...  239.9         19.93
2  000229ec398224ef6ca0657da4fc703e              1  ...  199.0         17.87

[3 rows x 7 columns]

In [68]:
df_compra_pagamentos.head(3)

                           order_id  ...  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17  ...          99.33
1  a9810da82917af2d9aefd1278f1dcfa0  ...          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...          65.71

[3 rows x 5 columns]

In [69]:
df_compras.head(3)

                           order_id  ... order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  ...           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150273451  ...           2018-08-13 00:00:00
2  47770eb9100c2d0c44946d9cf07ec65d  ...           2018-09-04 00:00:00

[3 rows x 8 columns]

In [70]:
df_geo.head(3)

   geolocation_zip_code_prefix  ...  geolocation_state
0                         1037  ...                 SP
1                         1046  ...                 SP
2                         1046  ...                 SP

[3 rows x 5 columns]

In [71]:
df_produtos.head(3)

                         product_id  ... product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5  ...             14.0
1  3aa071139cb16b67ca9e5dea641aaa2f  ...             20.0
2  96bd76ec8810374ed1b65e291975717f  ...             15.0

[3 rows x 9 columns]

In [72]:
df_reviews.head(3)

                          review_id  ... review_answer_timestamp
0  7bc2406110b926393aa56f80a40eba40  ...     2018-01-18 21:46:59
1  80e641a11e56f04c1ad469d5645fdfde  ...     2018-03-11 03:05:13
2  228ce5500dc1d8e020d8d1322874b6f0  ...     2018-02-18 14:36:24

[3 rows x 7 columns]

In [73]:
df_vendedores.head(3)

                          seller_id  ...  seller_state
0  3442f8959a84dea7ee197c632cb2df15  ...            SP
1  d1b65fc7debc3361ea86b5f14c68d2e2  ...            SP
2  ce3ad9de960102d0677a81f5d0bb7b2d  ...            RJ

[3 rows x 4 columns]

##Exploração Dataset Clientes

In [74]:
#Conehcendo o dataset
df_clientes.head(3)

                        customer_id  ... customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7  ...             SP
1  18955e83d337fd6b2def6b18a428ac77  ...             SP
2  4e7b3e00288586ebd08712fdd0374a03  ...             SP

[3 rows x 5 columns]

In [75]:
# Quais cidades tem no meu dataset
df_clientes.customer_city.unique()

array(['franca', 'sao bernardo do campo', 'sao paulo', ...,
       'monte bonito', 'sao rafael', 'eugenio de castro'], dtype=object)

In [76]:
# Quantidade de cidades
len(df_clientes.customer_city.unique())

4119

In [77]:
# Quantidade de clientes
len(df_clientes.customer_unique_id.unique())

96096

In [78]:
df_clientes.groupby(by='customer_city').count().sort_values(by='customer_id', ascending=False)

                customer_id  ...  customer_state
customer_city                ...
sao paulo             15540  ...           15540
rio de janeiro         6882  ...            6882
belo horizonte         2773  ...            2773
brasilia               2131  ...            2131
curitiba               1521  ...            1521
...                     ...  ...             ...
ibiara                    1  ...               1
rio espera                1  ...               1
rio dos indios            1  ...               1
rio dos cedros            1  ...               1
lagoao                    1  ...               1

[4119 rows x 4 columns]

In [79]:
df_temp = df_clientes.groupby( by = 'customer_unique_id' ).count()
df_temp.sort_values(by='customer_id', ascending=False)

                                  customer_id  ...  customer_state
customer_unique_id                             ...
8d50f5eadf50201ccdcedfb9e2ac8455           17  ...              17
3e43e6105506432c953e165fb2acf44c            9  ...               9
6469f99c1f9dfae7733b25662e7f1782            7  ...               7
ca77025e7201e3b30c44b472ff346268            7  ...               7
1b6c7548a2a1f9037c1fd3ddfed95f33            7  ...               7
...                                       ...  ...             ...
5657dfebff5868c4dc7e8355fea865c4            1  ...               1
5657596addb4d7b07b32cd330614bdf8            1  ...               1
5656eb169546146caeab56c3ffc3d268            1  ...               1
5656a8fabc8629ff96b2bc14f8c09a27            1  ...               1
ffffd2657e2aad2907e67c3e9daecbeb            1  ...               1

[96096 rows x 4 columns]

In [80]:
df_clientes.groupby( by = 'customer_unique_id' ).count()['customer_id'] > 2

customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2    False
0000b849f77a49e4a4ce2b2a4ca5be3f    False
0000f46a3911fa3c0805444483337064    False
0000f6ccb0745a6a4b88665a16c9f078    False
0004aac84e0df4da2b147fca70cf8255    False
                                    ...
fffcf5a5ff07b0908bd4e2dbc735a684    False
fffea47cd6d3cc0a88bd621562a9d061    False
ffff371b4d645b6ecea244b27531430a    False
ffff5962728ec6157033ef9805bacc48    False
ffffd2657e2aad2907e67c3e9daecbeb    False
Name: customer_id, Length: 96096, dtype: bool

In [81]:
df_group = df_clientes.groupby( by = 'customer_unique_id' ).count()
df_group[ (df_group['customer_id'] >= 4) ]

                                  customer_id  ...  customer_state
customer_unique_id                             ...
083ca1aa470c280236380973a48f77c6            4  ...               4
08e5b38d7948d37fbb2a59fc5e175ab1            4  ...               4
12d8b5ed661190a3a08183644dfc504d            4  ...               4
12f5d6e1cbf93dafd9dcc19095df0b3d            6  ...               6
1b6c7548a2a1f9037c1fd3ddfed95f33            7  ...               7
25a560b9a6006157838aab1bdbd68624            4  ...               4
2ddc001b620bd90d0f4378cfde1db887            4  ...               4
35ecdf6858edc6427223b64804cf028e            5  ...               5
394ac4de8f3acb14253c177f0e15bc58            5  ...               5
397b44d5bb99eabf54ea9c2b41ebb905            4  ...               4
3e43e6105506432c953e165fb2acf44c            9  ...               9
47c1a3033b8b77b3ab6e109eb4d5fdf3            6  ...               6
4e65032f1f574189fb793bac5a867bbc            5  ...               5
4facc2e6fbc2bffab2fea92d2b4aa7e4            4  ...               4
56c8638e7c058b98aae6d74d2dd6ea23            5  ...               5
5e8f38a9a1c023f3db718edcf926a2db            5  ...               5
6358b15ef7fa9b1210f1a5735cabd3d9            4  ...               4
63cfc61cee11cbe306bff5857d00bfe4            6  ...               6
6469f99c1f9dfae7733b25662e7f1782            7  ...               7
7305430719d715992b00be82af4a6aa8            4  ...               4
738ffcf1017b584e9d2684b36e07469c            4  ...               4
74cb1ad7e6d5674325c1f99b5ea30d82            5  ...               5
795c1622cf7a53d63d324e862349d01c            4  ...               4
83e7958a94bd7f74a9414d8782f87628            4  ...               4
8d50f5eadf50201ccdcedfb9e2ac8455           17  ...              17
9cc5a07f169a1606fd347a56683e6ea6            4  ...               4
a0abd26659c9914690cbd3320d39fd96            4  ...               4
a1874c5550d2f0bc14cc122164603713            4  ...               4
a239b8e2fbce33780f1f1912e2ee5275            4  ...               4
a73c5464692d3bc09d64e3edefae9015            4  ...               4
a7657330b1c135f3acd420326e335b2c            4  ...               4
acea6bd29b8c1e3c6a8b266a8fb4475e            4  ...               4
b08fab27d47a1eb6deda07bfd965ad43            4  ...               4
b2bd387fdc3cf05931f0f897d607dc88            4  ...               4
b39dde6dd619943190a8cc9aa6db38a4            4  ...               4
b4e4f24de1e8725b74e4a1f4975116ed            5  ...               5
b896655e2083a1d76b7b85df8fc86e40            4  ...               4
b8b3c435a58aebd788a477bed8342910            4  ...               4
c37cc6c1a59d81460a3059744f7ada1c            4  ...               4
c8460e4251689ba205045f3ea17884a1            4  ...               4
ca77025e7201e3b30c44b472ff346268            7  ...               7
d3359a56d96666ac0c21bb01e7a61c95            4  ...               4
dc813062e0fc23409cd255f7f53c7074            6  ...               6
de34b16117594161a6a89c50b289d35a            6  ...               6
ec7f1811826ab04a27a92197bc40c888            4  ...               4
f0e310a6839dce9de1638e0fe5ab282a            6  ...               6
f34cd7fd85a1f8baff886edf09567be3            4  ...               4
f64ec6d8dd29940264cd0bbb5ecade8a            4  ...               4
fe81bb32c243a86b2f86fbf053fe6140            5  ...               5

[49 rows x 4 columns]

In [82]:
df_clientes.customer_city.value_counts().head(7).reset_index()

            index  customer_city
0       sao paulo          15540
1  rio de janeiro           6882
2  belo horizonte           2773
3        brasilia           2131
4        curitiba           1521
5        campinas           1444
6    porto alegre           1379

In [83]:
import plotly.express as px

data = df_clientes.customer_city.value_counts().head(7).reset_index()
fig = px.bar(data,x='index', y='customer_city')
gitly.show(fig)